<header-dialog (close)="onCancel()" [title]="'Change the users password'"></header-dialog>

<form #form="ngForm" (submit)="submitForm(form)" novalidate>
    <mat-dialog-content>
        <app-error [errorList]="errors"></app-error>

        <div>
            <mninput requiredIf="true" [type]="'password'" [isRequired]="true" [widthControl]="300" name="'password'" [id]="'Password'" [placeholder]="'گذرواژه را وارد نمایید'" [max_Length]="300" [(ngModel)]="entity.Password"></mninput>
        </div>
        <div>
            <mninput requiredIf="true" [type]="'password'" [isRequired]="true"  [widthControl]="300" name="repassword" [id]="'RePassword'" [placeholder]="'تکرار گذرواژه را وارد نمایید'" [max_Length]="300" [(ngModel)]="entity.RePassword"></mninput>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" *ngxPermissionsOnly="['ChengeUserPassword']" [disabled]="form.invalid" type="submit">ذخیره</button>
        <a mat-raised-button (click)="onCancel()">انصراف</a>
    </mat-dialog-actions>

</form>