<div fxlayout="column" fxlayoutalign="center center" id="error" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
    <div class="content" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
        <div class="error-code">404</div>
        <div class="message">صفحه ای با این نام پیدا نشد</div>
        <div fxlayout="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
            <a color="accent" mat-button="" class="mat-button mat-button-base mat-accent" tabindex="0" aria-disabled="false">
                <span class="mat-button-wrapper">رفتن به صفحه اصلی</span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
            <a color="accent" mat-button="" class="mat-button mat-button-base mat-accent" tabindex="0" aria-disabled="false">
                <span class="mat-button-wrapper">برگشت به صفحه قبل</span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
            </a>
        </div>
    </div>
</div>