@font-face {
    font-family: "BYekan";
    src: url("assets/fonts/BYekan.eot?#") format("eot"), url("assets/fonts/BYekan.woff") format("woff"), url("assets/fonts/BYekan.ttf") format("truetype");
}

* { margin:0; padding:0; box-sizing:border-box; }
/* fallback */

body {
    font-family: "BYekan" !important;
    direction: rtl !important;
    text-align: right; 
color: #202020;
     background-color: #f5f5f5;  
  
}
mat-card{
    font-family: "BYekan" !important;
}

.bkcolor {
    background-color: #20dbbe;
}
a {
    cursor: pointer;
}

input {
    font-size: 14px !important;
    ;
}

span {
    font-family: "BYekan"
}

.mat-tab-label {
    font-family: "BYekan"
}

label {
    font-family: "BYekan"
}

.mat-option-text {
    font-family: "BYekan" !important;
}

.mat-select {
    font-family: "BYekan" !important;
    color: white;
}

.grid-table th {
    background-color: #2c2c2c;
    color: white;
}

.table-hover tr:hover {
    background-color: #673ab7 !important;
}

.table tr.active td {
    background-color: gold;
    color: #673ab7;
    font-weight: 900;
}

router-outlet~* {
    height: 100%;
    width: 100%;
}

.ng-touched.form-control.ng-invalid {
    border: 1px solid red;
}

.make-gold {
    background-color: gold
}

.mat-card-title {
    width: auto;
    height: 3%;
    font-family: "BYekan";
 //   background-color: #00695c;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 1%;
    color: rgb(37, 37, 37);
}
mat-card-content{
    font-family: "BYekan"; 
}
.button.mat-menu-item {
    font-family: "BYekan" !important;
}

.input-full-width {
    width: 100%;
}

.text-CoinAbbreviation {
    display: block;
    color: #666666;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.text-Coin {
    color: #121212;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.text-Price {
    display: block;
    color: #666666;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.current-price-value {
    background: #f5f5f5;
    border: 1px solid #EEE;
    font-weight: 800;
    font-size: 16px;
    white-space: nowrap;
}

.example-container {
    margin-bottom: 5px;
}

.mat-form-field {
    font-family: "BYekan";
    font-size: 0.8em;
    margin-right: 10px;
}

.mat-raised-button {
    font-family: "BYekan";
    font-size: 0.8em;
    margin-left: 5px !important;
}

.mat-error {
    font-family: "BYekan";
}

.mat-simple-snackbar {
    font-family: "BYekan";
}

.mat-snack-bar-container-danger {
    padding: 20px;
    background-color: red;
    color: white;
}

.mat-list-item {
    font-family: "BYekan";
}

.mat-menu-content {
    font-family: "BYekan";
}

.mat-menu-item {
    font-family: "BYekan";
}

.mat-checkbox {
    font-family: "BYekan";
    margin-left: 10px;
}

.mat-button {
    font-family: "BYekan";
}

.mat-simple-snackbar-action {
    background-color: #121212;
    color: white;
}

.mat-calendar-content {
    font-family: "BYekan";
}

.mat-datepicker-content .mat-calendar {
    width: 221px !important;
    height: 277px !important;
}

.mat-snack-bar-container-success {
    padding: 20px;
    background-color: #51a351;
    color: white;
}

.mat-snack-bar-container-info {
    padding: 20px;
    background-color: #2f96b4;
    color: white;
}

.mat-snack-bar-container-warning {
    padding: 20px;
    background-color: #f89406;
    color: white;
}

.mat-dialog-title {
    padding-right: 5px;
    font-family: "BYekan";
    margin: -25px -24px 15px !important;
    display: block;
    background-color: #815da5;
    color: white;
    border: 2px #E6E4E4
}

.mat-select-value {
    font-family: "BYekan";
}

.mat-paginator {
    font-family: "BYekan";
}

.mat-radio-button {
    font-family: "BYekan";
}

.btn_close {
    cursor: pointer !important;
    position: absolute !important;
    top: 4px;
    left: 5px
}

.mat-dialog-container {
    position: relative;
    border-radius: 0px !important;
}

.has-value{
    font-family: "BYekan";
    font-size: 14px;
    font-weight: 800;
}
/* -------------------Table Style------------------------------ */


/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2);
}

.grid-content {
    overflow: auto;
    width: 100%;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(56, 55, 55, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(71, 70, 70, 0.3);
    background-color: #555;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: pre-wrap;
    background-color: white;
    font-family: "BYekan";
    border: 1px solid #00695c;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 8px;
    border: 1px solid #00695c;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    border: 1px solid #00695c;
}

.fl-table thead th {
    color: #ffffff;
    background: #009688;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #009688;
    border-color: 00695c;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
        font-family: "BYekan";
    }
    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child {
        border-bottom: none;
    }
    .fl-table thead {
        float: right;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table .fl-table td,
    .fl-table th {
        padding: 10px .625em .625em .625em;
        /* height: 60px; */
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        /* width: 120px; */
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: center;
        border-bottom: 1px solid #00695c;
        height: 121px;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
        height: 121px;
    }
}

.fl-table>thead>tr>th>grid-filter>span {
    display: block;
    cursor: pointer;
}

.fl-table>thead>tr>th>grid-filter>input {
    width: 100%;
}

.fl-table>thead>tr>th>span {
    display: block;
    cursor: pointer;
}

.fl-table>thead>tr>th>input {
    width: 100%;
}


/* ---------------------------End Table Style ---------------------- */